<div class="mt-4">
  <div class="input-group flex-nowrap">
    <input
      id="username"
      onkeydown="handleEnter(event)"
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="addon-wrapping"
    />
  </div>
  <div class="input-group flex-nowrap mt-4">
    <input
      id="password"
      onkeydown="handleEnter(event)"
      type="text"
      class="form-control"
      placeholder="Password"
      aria-label="Password"
      aria-describedby="addon-wrapping"
    />
  </div>
  <button
    style="margin-right: 12px"
    onclick="login()"
    class="btn btn-dark mt-4"
  >
    Login
  </button>
  <button onclick="loginWithFb()" class="btn btn-primary mt-4">
    Login with Facebook
  </button>
</div>

<script>
  const loginWithFb = () => {
    window.location.href =
      'https://1a5e-116-96-45-53.ngrok-free.app/auth/facebook';
  };

  const handleEnter = event => {
    if (event && event.key === 'Enter') {
      login();
    }
  };

  const login = () => {
    let username = $('#username');
    let password = $('#password');
    $.ajax({
      url: '/',
      type: 'POST',
      data: {
        username: username.val(),
        password: password.val(),
      },
    })
      .then(data => {
        console.log(data);
        if (data.token) {
          window.location.href = '/home';
        } else {
          alert('Sai tên đăng nhập hoặc mật khẩu');
        }
      })
      .catch(err => console.log(err));
  };
</script>
