{{!--
<div class="mt-4">
  <div class="input-group flex-nowrap">
    <input
      id="username"
      onkeydown="handleEnter(event)"
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="addon-wrapping"
    />
  </div>
  <div class="input-group flex-nowrap mt-4">
    <input
      id="password"
      onkeydown="handleEnter(event)"
      type="text"
      class="form-control"
      placeholder="Password"
      aria-label="Password"
      aria-describedby="addon-wrapping"
    />
  </div>
  <button
    style="margin-right: 12px"
    onclick="login()"
    class="btn btn-dark mt-4"
  >
    Login
  </button>
  <button onclick="loginWithFb()" class="btn btn-primary mt-4">
    Login with Facebook
  </button>
</div>
--}}

<div class="mt-4">
  <!doctype html>
  <html lang="en">
    <head>
      <!-- Design by foolishdeveloper.com -->
      {{!--
      <title>Glassmorphism login Form Tutorial in html css</title>
      --}}

      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
        rel="stylesheet"
      />
      <!--Stylesheet-->
      <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
      <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
      </div>
      <form>
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input
          onkeydown="handleEnter(event)"
          type="text"
          placeholder="Username"
          id="username"
        />

        <label for="password">Password</label>
        <input
          onkeydown="handleEnter(event)"
          type="password"
          placeholder="Password"
          id="password"
        />

        <button onclick="login()">Log In</button>
        <div class="social">
          {{!--
          <div class="go"><i class="fab fa-google"></i> Google</div>
          --}}
          <div onclick="loginWithFb()" style="width: 100%" class="fb">
            <i class="fab fa-facebook"></i>
            <a
              style="text-decoration: none"
              href="http://localhost:3000/auth/facebook"
              >Facebook</a
            >
          </div>
        </div>
        <div class="mt-4 d-flex justify-content-center gap-2">
          Not register?
          <a href="/register">Create an account</a>
        </div>
      </form>
    </body>
  </html>
</div>

<script>
  const loginWithFb = () => {
    window.location.href = 'http://localhost:3000/auth/facebook';
  };

  const handleEnter = event => {
    if (event && event.key === 'Enter') {
      login();
    }
  };

  const login = () => {
    let username = $('#username');
    let password = $('#password');
    $.ajax({
      url: '/',
      type: 'POST',
      data: {
        username: username.val(),
        password: password.val(),
      },
    })
      .then(data => {
        //   console.log(data);
        if (data.token) {
          window.location.href = '/home';
        } else {
          alert('Sai tên đăng nhập hoặc mật khẩu');
        }
      })
      .catch(err => console.log(err));
  };
</script>
