<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/update-password.css" />
  </head>

  <body>
    <div class="mt-4">
      <div class="mainDiv">
        <div class="cardStyle">
          <img src="" id="signupLogo" />

          <h2 class="formTitle">Change Password</h2>

          <div class="inputDiv">
            <label class="inputLabel" for="password">New Password</label>
            <input type="password" id="password" required />
          </div>

          <div class="inputDiv">
            <label class="inputLabel" for="confirmPassword"
              >Confirm Password</label
            >
            <input type="password" id="confirmPassword" />
          </div>

          <div class="buttonWrapper">
            <button
              type="button"
              id="submitButton"
              class="submitButton pure-button pure-button-primary"
            >
              <span>Continue</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  let newPassword = $('#password');
  let confirmPassword = $('#confirmPassword');

  const userId = '{{ userId }}';

  $('#submitButton').click(function () {
    if (newPassword.val() != confirmPassword.val()) {
      alert('Mật khẩu không trùng khớp');
      return;
    }
    $.ajax({
      url: `/${userId}/update-password`,
      type: 'PUT',
      data: {
        newPassword: newPassword.val(),
        confirmPassword: confirmPassword.val(),
      },
    })
      .then(data => {
        alert(data.success);
      })
      .catch(err => console.log(err));
  });
</script>
