<div class="input-group flex-nowrap mt-4">
  <form method="POST" action="">
    <input
      type="text"
      class="form-control"
      name="q"
      placeholder="Tìm kiếm"
      aria-label="Tìm kiếm"
      aria-describedby="addon-wrapping"
    />
    <select name="gender" class="form-control" id="gender-input">
      <option value="">-- Chọn giới tính --</option>
      <option value="male">Nam</option>
      <option value="female">Nữ</option>
    </select>

    <button type="submit">Tìm kiếm</button>
  </form>
</div>