<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="container"></div>
    <nav aria-label="Page navigation example">
      <ul style="gap: 16px" class="pagination">
        <li id="previous" class="page-item">
          <a class="page-link" onclick="prevPage()" href="#">Previous</a>
        </li>

        <li class="page-item">
          <a class="page-link" onclick="nextPage()" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </body>
</html>

<script>
  let currentPage;
  let previousElement = $('#previous');

  // Change CSS pageNumber
  const updatePageStatus = total => {
    for (let pageNumber = 1; pageNumber <= total; pageNumber++) {
      let isCurrentPage = currentPage === pageNumber;

      $(`.pagination a:eq(${pageNumber})`).toggleClass(
        'activeCss',
        isCurrentPage,
      );
    }
  };

  $(document).ready(function () {
    $.ajax({
      url: `/api/users`,
      type: 'GET',
    })
      .then(dataObj => {
        const total = dataObj.total;
        // Render button pageNumber

        for (let pageNumber = total; pageNumber >= 1; pageNumber--) {
          previousElement.after(
            `
               <li class="page-item">
            <a id="pageNumber" class="page-link" onclick="loadPage(${pageNumber})" href="#">${pageNumber}</a>
          </li>
              `,
          );
        }

        loadPage(1);
      })
      .catch(err => console.log(err));
  });

  const loadPage = page => {
    currentPage = page;

    let data;
    let total;
    $.ajax({
      url: `/api/users?page=${page}`,
      type: 'GET',
    })
      .then(dataObj => {
        data = dataObj.data;

        let total = dataObj.total;

        // Stop btnNext when maxPage
        if (currentPage >= total + 1) {
          currentPage = total;
          return;
        }

        updatePageStatus(total);

        let output = '';
        data.forEach(item => {
          output += `<h1>${item.username}: ${item.password}</h1>`;
        });
        $('#container').html(output);
      })
      .catch(err => console.log(err));
  };

  const nextPage = () => {
    currentPage++;
    loadPage(currentPage);
  };

  const prevPage = () => {
    currentPage--;
    if (currentPage < 1) {
      currentPage = 1;
    }
    loadPage(currentPage);
  };
</script>
